*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
}


/*Web Home*/
.Home{
	height: 200vh;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01)),url(Home-.png); 
	background-position: 0px 3px;
	background-size: cover;
	background-repeat: no-repeat;
}
.Home nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 8%;
	padding-right: 8%;
	background-color: gray;
	border-bottom: 1px solid red;
}

.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

.logo span{
	color: red;
}

.Home nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 25px;
}

.Home nav ul li a{
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
}

.Home nav ul li a:hover {
	color: royalblue;
	transition: 0.5s;
}
.content{
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translate(10px);
}

.content h1{
	color: orangered;
	font-size: 75px;
	margin: 10px 0px 10px;
}

.content h3{
	color: wheat;
	font-size: 25px;
	margin-bottom: 50px;

}
.content h4{
	color: whitesmoke;
	letter-spacing: 2px;
	font-size: 20px;
}

.content a{
	font-size: 20px;
	background: red;
	color: white;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 30px;
	border: 2px solid wheat;
}

.content a:hover{
	background: transparent;
	border: 2px solid red;
}


/*Web About*/
.About{
	width: 100%;
	padding: 100px 0px;
	background-color: black;
}
.AboutMe{
	width: 1130px;
	max-width: 90%;
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.AboutMe img{
	height: auto;
	width: 360px;
	border-radius: 20px;
}

.AboutText{
	width: 550px;
}

.AboutText h2{
	color: white;
	font-size: 65px;
	text-transform: capitalize;
	margin-bottom: ;
	border-bottom: 2px solid gray;
}

.AboutText h5{
	color: red;
	letter-spacing: 2px;
	font-size: 22px;
	margin-top: 5px;
	margin-bottom: 25px;
	text-transform: capitalize;
}

.AboutText h4{
	color: black;
	margin-top: -100px;
	justify-content: center;
	position: absolute;
}

.AboutText p{
	color: white;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 30px;
	text-align: justify;
}

.button{
	background-color: red;
	color: white;
	border: 2px solid gray;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: 0.5s;
}
.button:hover{
	background-color: transparent;
	cursor: pointer;
}



/*Web Skill*/
.Skill{
	background-color: #34495E;
	width: 100%;
	padding: 100px 0;
}
.Title{
	color: lightsalmon;
	font-size: 75px;
	width: 100%;
	margin-bottom: 25px auto;
	text-align: center;
}
.Box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.Card {
	height: 365px;
	width: 360px;
	padding: 20px 35px;
	background: transparent;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
	border: 2px solid red;
}

.Card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: black;

}
.Card h5{
	color: white;
	font-size: 25px;
	margin-bottom: 15px;
}

.pra p{
	color: orangered;
	font-size: 15px;
	line-height: 27px;
	margin-bottom: 25px;
	text-align: justify;
}
.pra a{
	background-color: red;
	color: white;
	border: 2px solid wheat;
	font-weight: bold;
	border-radius: 30px;
	padding: 15px;
}

.pra a:hover{
	background-color: transparent;
	border: 2px solid red;
	cursor: pointer;
}

/*Web Experience*/
.Experience{
	background-color: white;
	width: 100%;
	padding: 100px 0;
}

.TitleEx{
	color: black;
	font-size: 75px;
	width: 100%;
	margin-bottom: 25px auto;
	text-align: center;
}

.Box2{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.Card2 {
	height: 370px;
	width: 600px;
	padding: 20px 35px;
	background: transparent;
	border-radius: 20px;
	margin: 15px;
	overflow: hidden;
	text-align: center;
	border: 2px solid red;
}

.Card2 i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: black;

}
.Card2 h5{
	color: black;
	font-size: 25px;
	margin-bottom: 15px;
}

.Card2 a{
	background-color: red;
	color: white;
	border: 2px solid wheat;
	font-weight: bold;
	border-radius: 30px;
	padding: 15px;
	position: center;
}

.Card2 ul li{
	list-style-type: none;
	display: inline-block;
	padding: 30px 25px;
}

.Card2 a:hover{
	background-color: black;
	border: 2px solid red;
	cursor: pointer;
}

.Contact{
	width: 100%;
	padding: 100px 0px;
	background-color: orangered;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.ContactText h2{
	color: black;
	font-size: 65px;
	text-transform: capitalize;
	margin-bottom: 20px;
	margin-left: 50px;
}

.ContactBox{
	color: white;
	display: block;
	clear: both;
}

.Contact1{
	width: 30%;
	padding: 50px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}

.Contact1 i{ 
	font-size: 50px;
	padding: 5px;
	text-align: center;
	margin: 25px 0px;
}

.Contact1 i a:hover{
	background-color: black;
	border: 2px solid red;
	cursor: pointer;
}

.footer{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer p{
	font-size: 20px;
	color: gray;
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}





